*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --optionBackgroundColor: rgba(76, 1, 95, 0.719);
    --optionBackgroundColorActive: rgba(166, 0, 207, 0.719);
    --optionTextColor: rgb(231, 231, 231);
    --questionTextColor: rgb(26, 25, 25);
}

.text-centered{
    text-align: center;
}

body{
    font-family: monospace;
}

header{
    margin: 2vw;
}

.score-wrapper{
    display: flex;
    font-size: 1vw;
    font-style: none;
    justify-content: space-between;
}

.scoreboard{
    color: rgb(162, 0, 202);
    background-color: white;
    font-size: 2vw;
}

.score{
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--questionTextColor);
}

.quiz-container{
    width: 50%;
    margin: 5% auto;
    padding: 3%;
}

.quiz-container > h2{
    font-size: 2.5vw;
    color: var(--questionTextColor);
}

.info{
    color: grey;
    font-size: 1vw;
    margin-top: 3%;
}

.button-class{
    font-size: 1.5vw;
    padding: 2% 3%;
    background-color: var(--optionBackgroundColor);
    color: var(--optionTextColor);
    margin-top: 3%;
    border-radius: 1.25vw;
    outline: none;
    transition: .25s;
}

.button-class:hover{
    background-color: var(--optionBackgroundColorActive);
}

.option{
    width: 47%;
    text-align: left;
    display: block;
}

.start-button{
    margin: 3% auto 0 auto;
}

.answer-result{
    margin-top: 6%;
    padding-left: 3%;
    padding-top: 1%;
    border-top: 3px solid #b5b4b4;
    font-size: 1.8vw;
    font-style: italic;
    color: #b5b4b4;
}

.initials{
    font-size: 1.5vw;
    padding: 0 .5%;
    margin-top: 2%;
}

.input-button{
    text-align: left;
    padding: .5% 1%;
    margin-left: 2%;
}

.highscore1, .highscore2{
    padding: 1%;
    font-size: 1vw;
}

.highscore1{
    background-color: rgb(177, 135, 197);
}

.highscore2{
    background-color: rgb(195, 153, 212);
}

#input-catcher{
    margin-top: 2%;
}

.go-back-button, .clear-score-button{
    width: 25%;
    font-size: 1.25vw;
}

.clear-score-button{
    margin-left: 5%;
}

@media screen and (max-width: 1080px){
    .scoreboard{
        font-size: 6vw;
    }

    .score{
        font-size: 6.5vw;
    }

    .quiz-container{
        width: 80%;
    }

    .quiz-container > h2{
        font-size: 8.5vw;
    }

    .info{
        font-size: 5vw;
    }
    
    .button-class{
        font-size: 6.5vw;
    }

    .answer-result{
        font-size: 7vw;
    }

    .initials{
        font-size: 5.6vw;
    }

    .go-back-button, .clear-score-button{
        font-size: 5vw;
    }

    .highscore1, .highscore2{
        font-size: 4.5vw;
    }
}